@import "./../styles/_vars"

//62.5% from basic browser's font-size is ~10px (1.6rem = 16px)
html
   font-size: 62.5%

*
   box-sizing: border-box

body
   height: 100%
   font-size: 1.4rem
   background-image: $bg-main

#root
   height: 100%

.App
   height: 100%
   display: grid
   grid-template-areas: '. header .' '. main .' '. footer .'
   grid-template-columns: 1fr 90% 1fr
   grid-template-rows: 86px auto 100px
   .main_header
      position: relative
      grid-area: header
   main
      grid-area: main
   .main_footer
      grid-area: footer

h1.page_title
   text-align: center
   color: $white
   margin: 0
   padding: 20px 0
   font-size: 3.4rem
   font-weight: 600
   text-transform: uppercase
   letter-spacing: 2px
   text-shadow: 1px 1px 0 $black



.alert-message
   flex-basis: 100%
   font-size: 1.6rem
   color: $black
   text-align: center
   background: transparentize($dgreen, 0.6)
   padding: 10px
   border-radius: 4px